<%- include ('partials/_header');  %>
<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/editCancion/<%= cancion.id %>?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
              <label for="">Id de la canción</label>
              <input type="text" class="form-control" name="id" id="id" placeholder="" value="<%= cancion.id %>">
            </div>
            <div class="form-group">
              <label for="">Intérprete de la canción</label>
              <input type="text" class="form-control" name="cantante" id="cantante" placeholder="" value="<%= cancion.cantante %>">
            </div>
            <div class="form-group">
              <label for="">Título de la canción</label>
              <input class="form-control" type="text" name="titulo" id="titulo" placeholder="" value="<%= cancion.titulo %>">
            </div>
            <div class="form-group">
              <label for="">Duración</label>
              <input class="form-control" type="text" name="duracion" id="duracion" placeholder="" value="<%= cancion.duracion %>">
            </div>
            <div class="form-group">
              <label for="">Enlace</label>
              <input type="text" class="form-control" name="enlace" id="enlace" placeholder="" value="<%= cancion.enlace %>">
            </div>
            <div class="form-group">
              <label for="">Intérprete</label>
              <select class="form-select form-control" aria-label="selector" name="interpreteId" id="interpreteId">
                <option selected value="<%= cancion.interprete.id %>"><%= cancion.interprete.nombre %></option>
                <option value="61b0e8cddb816d003c21be39">Aerosmith</option>
                <option value="61b0fbc915d4fa4c881476e4">The Alan Parsons project</option>
                <option value="61b11293b637d858f8899a3e">Albert Collins</option>
                <option value="61b255deda26d42ca4251150">Al Di Meola</option>
                <option value="61b25fd1da26d42ca42511c6">Alice Cooper</option>
                <option value="61b3a362e10b595304193785">The Allman brothers band</option>
                <option value="61b3abe9e10b59530419380d">Al Stewart</option>
                <option value="61b3b487e10b595304193876">Alvin Lee</option>
                <option value="61b4fa045f26ad43942ebccb">Amaral</option>
                <option value="61b5006e5f26ad43942ebd48">America</option>
                <option value="61b631f46f89aa609c17cf74">The Animals</option>
                <option value="61b63bee6f89aa609c17cfb9">Annie Lennox</option>
                <option value="61b641626f89aa609c17cff4">Antonio Flores</option>
                <option value="61b778005106a94168d97d97">Antonio Vega</option>
                <option value="61b7927c5106a94168d97eea">Asfalto</option>
                <option value="61b9026748ce5e073c9495a5">Bad Company</option>
                <option value="61b912a248ce5e073c9495ef">The Band</option>
                <option value="61b9c0fd48ce5e073c9496c0">B.B. King</option>
                <option value="61b9c6f948ce5e073c9496fb">B.B. King & Eric Clapton</option>
                <option value="61b9cd7b48ce5e073c949721">Bebo Valdés & El Cigala</option>
                <option value="61af953f311b5222f4c7a504">Billie Holiday</option>
                <option value="61b9d64648ce5e073c94976b">Billy Joel</option>
                <option value="61b9df5f48ce5e073c9497e1">Blind Faith</option>
                <option value="61b9e77c48ce5e073c949862">Blur</option>
                <option value="61b9ec17f8f0d47530fa7122">Bob Dylan</option>
                <option value="61bb8c5c38aaf60714ae3e32">Bob Seger</option>
                <option value="61bb960938aaf60714ae3e9f">Bruce Springsteen</option>
                <option value="61bb910a38aaf60714ae3e79">Bryan Ferry</option>
                <option value="61bcdd01463d4618349f4a26">Buffalo Springfield</option>
                <option value="61bce1ff463d4618349f4a4c">Burning</option>
                <option value="61af58997e74e658a45ddd4d">Camel</option>
                <option value="61c3669769301f3790e2ed9a">Canned Heat</option>
                <option value="61c369a369301f3790e2edbe">The Cars</option>
                <option value="61c36dd669301f3790e2ede7">Cat Stevens</option>
                <option value="61c3706869301f3790e2ee0b">The Clash</option>
                <option value="61c3776869301f3790e2ee4a">Cold Play</option>
                <option value="61c4c2a7e3781f25843c398a">The Corrs</option>
                <option value="61c4c7dc56f12424dcf08814">The Cranberries</option>
                <option value="61c4cdc8d7905c0c483e9087">Cream</option>
                <option value="61c4d0ddd7905c0c483e90ad">Creedence Clearwater Revival</option>
                <option value="61c7654841c95413b0fc1ed3">David Bowie</option>
                <option value="61c7684b41c95413b0fc1f2a">Deep Purple</option>
                <option value="61c89b70ca34c93becf02b0f">Dire Straits</option>
                <option value="61c8aa17ca34c93becf02bde">The Doobie Brothers</option>
                <option value="61c9b7c26f39db1a385567f5">The Doors</option>
                <option value="61c9bf196f39db1a38556851">Eagles</option>
                <option value="61ca14d76f39db1a385568ff">E.L.O.</option>
                <option value="61ca17e46f39db1a38556955">Emerson, Lake & Palmer</option>
                <option value="61ca1afc6f39db1a3855697f">Enrique Urquijo y Los Problemas</option>
                <option value="61ca1ead6f39db1a385569a9">Enya</option>
                <option value="61cb649c8f4f293d7813d910">Eric Clapton</option>
                <option value="61cc379da80a7026a0187846">Estopa</option>
                <option value="61cc3ed5a80a7026a018789d">Eurythmics</option>
                <option value="61cc413fa80a7026a01878b8">Fito & Fitipaldis</option>
                <option value="61cc46eca80a7026a01878f9">Fleetwood Mac</option>
                <option value="61cc7acda80a7026a01879e5">Gary Moore</option>
                <option value="61ce02299932391a840d9588">Génesis</option>
                <option value="61d32a9757d39e4768992504">George Benson</option>
                <option value="61d3436557d39e4768992636">Golpes Bajos</option>
                <option value="61d33a9857d39e47689925fc">Gotan project</option>
                <option value="61d572646a47f10e48978c45">Green Day</option>
                <option value="61d57bb06a47f10e48978cc6">Iceberg</option>
                <option value="61d58fa36a47f10e48978d04">Ilegales</option>
                <option value="61d74618a1c8c34e7836226e">The J. Geils Band</option>
                <option value="61db3107cf208d3cb021da9e">J. J. Cale</option>
                <option value="61d59c916a47f10e48978dc3">Jackson Browne</option>
                <option value="61d5b14a6a47f10e48978df0">Janis Joplin</option>
                <option value="61af7f30311b5222f4c7a3b7">Javier Krahe</option>
                <option value="61d5cd126a47f10e48978e3b">Jeff Beck</option>
                <option value="61d5d52a6a47f10e48978eb3">Jethro Tull</option>
                <option value="61d74937a1c8c34e783622ac">Jimi Hendrix</option>
                <option value="61db302acf208d3cb021da99">Jimmy Page</option>
                <option value="61dc6d1bde516d4e2c36b4fb">Joan Manuel Serrat</option>
                <option value="61db3247cf208d3cb021daa3">Joaquín Sabina</option>
                <option value="61dc31a7de516d4e2c36b481">Joaquín Sabina & Joan Manuel Serrat</option>
                <option value="61dea7fa1a4d0120804097b0">Joe Cocker</option>
                <option value="61deaaff1a4d0120804097c1">John Cougar</option>
                <option value="61deb61f1a4d012080409819">Johnny Winter</option>
                <option value="61deb97b1a4d01208040983d">Joni Mitchell</option>
                <option value="61debc8b1a4d012080409858">Kenny G</option>
                <option value="61dec0961a4d012080409879">Kiko Veneno</option>
                <option value="61dec8911a4d0120804098d7">King Crimson</option>
                <option value="61e07b399b35fc3394949a25">Led Zeppelin</option>
                <option value="61e07bd69b35fc3394949a2a">Leño</option>
                <option value="61e31c6a1290aa1ae0e3d7b9">Little Feat</option>
                <option value="61e4555e6ae7932338bfca2b">Lou Reed</option>
                <option value="61e321361290aa1ae0e3d7d7">Louis Armstrong</option>
                <option value="61e456606ae7932338bfca30">Lynyrd Skynyrd</option>
                <option value="61e5a54da3d6341b6c418583">Madredeus</option>
                <option value="61e5af3da3d6341b6c418609">The Mamas & The Papas</option>
                <option value="61cc3c53a80a7026a0187882">Maná</option>
                <option value="61e5c5a6503857203c53e5c1">La Mandrágora</option>
                <option value="61ae17580aee8f50bc490cf1">Manolo Tena</option>
                <option value="61e70a0a4f90761d249c3615">Mano Negra</option>
                <option value="61e70b2b4f90761d249c361d">Manu Chao</option>
                <option value="61e70bfb4f90761d249c3622">Mark Knopfler</option>
                <option value="61e7e731848d080a34b63714">Mecano</option>
                <option value="61e7e8b2848d080a34b63719">Melendi</option>
                <option value="61e7e9fc848d080a34b6371e">Michael Schenker Group</option>
                <option value="61e84efe91a04a132cb1b224">Miguel Ríos</option>
                <option value="61e8501891a04a132cb1b229">Mike Oldfield</option>
                <option value="61e850ce91a04a132cb1b22e">Miles Davis</option>
                <option value="61e851d391a04a132cb1b233">Molotov</option>
                <option value="61e852a791a04a132cb1b238">Mozart</option>
                <option value="61e9931d6932cb36fc1c246f">Muddy Waters</option>
                <option value="61e993bf6932cb36fc1c2474">Nacha Pop</option>
                <option value="61e994d96932cb36fc1c2479">Neil Young</option>
                <option value="61e997d86932cb36fc1c247e">Nirvana</option>
                <option value="61ae5e500aee8f50bc490f8c">Norah Jones</option>
                <option value="61eb09c4bc6e8e3d1422888e">Oasis</option>
                <option value="61eb0abbbc6e8e3d14228893">Paco de Lucía</option>
                <option value="61eda62b5d62ce30301593c5">Pata Negra</option>
                <option value="61eda7785d62ce30301593ca">Pat Metheny</option>
                <option value="61eda86b5d62ce30301593cf">Patti Smith</option>
                <option value="61eda9295d62ce30301593d4">Pereza</option>
                <option value="61eea902affe5138f4b56739">Peter Frampton</option>
                <option value="61eeaa50affe5138f4b5673e">Peter Gabriel</option>
                <option value="61eeab97affe5138f4b56743">Phil Collins</option>
                <option value="61eef2795e94610498b617a9">Pink Floyd</option>
                <option value="61eef3d25e94610498b617ae">The Police</option>
                <option value="61f1323b7813c3476c3bccbe">Presuntos Implicados</option>
                <option value="61f1332a7813c3476c3bcccf">The Pretenders</option>
                <option value="61f134877813c3476c3bccd4">Queen</option>
                <option value="61f197df513bef4604380b62">Radio Futura</option>
                <option value="61f198c0513bef4604380b67">Raimundo Amador</option>
                <option value="61f2f25003326021f01ae1d1">Rainbow</option>
                <option value="61f2f31d03326021f01ae1d6">R.E.M.</option>
                <option value="61f43882f4a6654d2424ad08">Revólver</option>
                <option value="61f43980f4a6654d2424ad0d">Robin Trower</option>
                <option value="61f43a60f4a6654d2424ad12">Rod Stewart</option>
                <option value="61f58e38a7ca892138647eb3">Los Rodríguez</option>
                <option value="61f58fc5a7ca892138647eb8">The Rolling Stones</option>
                <option value="61f6d206bbcaa82524207440">Rosendo</option>
                <option value="61f6d2dcbbcaa82524207445">Roxy Music</option>
                <option value="61f7e0158e34ef367c6ccf7e">Ryan Adams</option>
                <option value="61f7e1158e34ef367c6ccf83">Sade</option>
                <option value="61f7e1d48e34ef367c6ccf88">Sam Cooke</option>
                <option value="61f7e31a8e34ef367c6ccf8d">Santana</option>
                <option value="61f98b9607db7c4c5c6092f6">Los Secretos</option>
                <option value="61f98ccb07db7c4c5c6092ff">Steely Dan</option>
                <option value="61f98dc207db7c4c5c609304">Stephen Stills</option>
                <option value="61fa69363412dc471c68c38e">Steve Winwood</option>
                <option value="61fa6a283412dc471c68c393">Stevie Ray Vaughan</option>
                <option value="61fab8d23412dc471c68c430">Stevie Wonder</option>
                <option value="61fab9c33412dc471c68c435">Sting</option>
                <option value="61fac8623412dc471c68c508">Supertramp</option>
                <option value="61fac9693412dc471c68c50d">Ted Nugent</option>
                <option value="61fc2fa1176e405ae8c3105a">Ten Years After</option>
                <option value="61fc307b176e405ae8c3105f">Texas</option>
                <option value="61fe5be818d0ef30f878bdc1">Texas Lightning</option>
                <option value="61fe5d6618d0ef30f878bdc6">Tina Turner</option>
                <option value="61fe5e6218d0ef30f878bdcb">Tom Petty and The Heartbreakers</option>
                <option value="61fe5fa218d0ef30f878bdd0">Tom Waits</option>
                <option value="61fe609018d0ef30f878bdd5">Topo</option>
                <option value="61fec408620ebb32b0ff3cbc">Toto</option>
                <option value="61b9e26d48ce5e073c949819">Traffic</option>
                <option value="61fec4f6620ebb32b0ff3cc1">Triana</option>
                <option value="61fec614620ebb32b0ff3cc6">U2</option>
                <option value="61ffa05771778c4bfc1ffb2f">La Unión</option>
                <option value="61ffa12b71778c4bfc1ffb34">Van Halen</option>
                <option value="61ffa2bb71778c4bfc1ffb3d">Van Morrison</option>
                <option value="61ffc35871778c4bfc1ffcdc">Varios</option>
                <option value="62001ff01c92f7580473919b">The Who</option>
                <option value="62011abbdc6a7b59280b86f8">The Yardbirds</option>
                <option value="62011bcddc6a7b59280b86fd">Yes</option>
                <option value="62011c9bdc6a7b59280b8702">ZZ Top</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Disco</label>
              <select class="form-select form-control" aria-label="selector" name="discoId" id="discoId">
                <option selected value="<%= cancion.disco.id %>"><%= cancion.disco.titulo %></option>
                <option value="61b0eac4db816d003c21be41">Live! bootleg - Aerosmith</option>
                <option value="61b0f0eb15d4fa4c88147609">Classics live I y II - Aerosmith</option>
                <option value="61b0f2e515d4fa4c88147625">Greatest hits - Aerosmith</option>
                <option value="61b0fd4d15d4fa4c881476ed">Eve - The Alan Parsons project</option>
                <option value="61b0fe1c15d4fa4c881476f7">Ammonia avenue - The Alan Parsons project</option>
                <option value="61b0fed415d4fa4c88147701">Gaudí - The Alan Parsons project</option>
                <option value="61b0ff8015d4fa4c8814770d">Eye in the sky - The Alan Parsons project</option>
                <option value="61b1014115d4fa4c88147719">Keats - The Alan Parsons project</option>
                <option value="61b101ed15d4fa4c88147725">Stereotomy - The Alan Parsons project</option>
                <option value="61b102d9b6363733940b20c5">Pyramid - The Alan Parsons project</option>
                <option value="61b10396b6363733940b20d1">I robot - The Alan Parsons project</option>
                <option value="61b1073bb637d858f88999e9">Tales of mistery and imagination - The Alan Parsons project</option>
                <option value="61b10841b637d858f88999f5">Freudiana - The Alan Parsons project</option>
                <option value="61b10a15b637d858f8899a01">Ladyhawke - The Alan Parsons project</option>
                <option value="61b114b7b637d858f8899a45">Cold snap - Albert Collins</option>
                <option value="61b116209889204c9467631d">Don't lose your cool - Albert Collins</option>
                <option value="61b259eada26d42ca425115a">Soaring through a dream - Al Di Meola</option>
                <option value="61b25c04da26d42ca425117c">Friday night in San Francisco - Al Di Meola, Jhon McLaughlin, Paco de Lucía</option>
                <option value="61b260ecda26d42ca42511cd">The difinitive Alice Cooper - Alice Cooper</option>
                <option value="61b3a579e10b59530419378f">Brothers and sisters - The Allman brothers band</option>
                <option value="61b3a6d3e10b5953041937a4">Live at Filmore east - The Allman brothers band</option>
                <option value="61b3a8a6e10b5953041937be">Seven turns - The Allman brothers band</option>
                <option value="61b3ae84e10b595304193836">Year of the cat - Al Stewart</option>
                <option value="61b3b21ee10b595304193847">The best of Al Stewart - Al Stewart</option>
                <option value="61b3b634e10b595304193886">Saguitar - Alvin Lee</option>
                <option value="61b4fbb35f26ad43942ebcd8">Estrella de mar - Amaral</option>
                <option value="61b4fc8e5f26ad43942ebcde">Amaral - Amaral</option>
                <option value="61b4fd1b5f26ad43942ebce4">Pájaros en la cabeza - Amaral</option>
                <option value="61b4fdd95f26ad43942ebcea">Una pequeña parte del mundo - Amaral</option>
                <option value="61b501b05f26ad43942ebd55">History: America's greatest hits - America</option>
                <option value="61b634036f89aa609c17cf7e">13 grandes éxitos - The Animals</option>
                <option value="61b635d06f89aa609c17cf84">Retrospective - The Animals</option>
                <option value="61b63e846f89aa609c17cfc6">The very best of - Annie Lennox</option>
                <option value="61b643526f89aa609c17d001">Arriba los corazones CD 1 - Antonio Flores</option>
                <option value="61b643c96f89aa609c17d00d">Arriba los corazones CD 2 - Antonio Flores</option>
                <option value="61b646466f89aa609c17d016">Pongamos que hablo de Madrid - Antonio Flores</option>
                <option value="61b77a1c5106a94168d97da4">Anatomía de una ola - Antonio Vega</option>
                <option value="61b77ca55106a94168d97db2">Concierto San Isidro 2003 - Antonio Vega</option>
                <option value="61b77d5e5106a94168d97dbe">Básico - Antonio Vega</option>
                <option value="61b77eff5106a94168d97dca">Escapadas - Antonio Vega</option>
                <option value="61b77fd95106a94168d97dd6">En directo en la sala Clamores - Antonio Vega</option>
                <option value="61b780a35106a94168d97de2">No me iré mañana - Antonio Vega</option>
                <option value="61b781ac5106a94168d97dee">Ese chico triste y solitario - Antonio Vega</option>
                <option value="61b784d25106a94168d97e0b">El sitio de mi recreo - Antonio Vega</option>
                <option value="61b7859b5106a94168d97e29">De un lugar perdido - Antonio Vega</option>
                <option value="61b7871c5106a94168d97e35">Océano de sol - Antonio Vega</option>
                <option value="61b799155106a94168d97ef7">Asfalto - Asfalto</option>
                <option value="61b7995d5106a94168d97f03">Al otro lado - Asfalto</option>
                <option value="61b9045f48ce5e073c9495b2">Bad Company - Bad Company</option>
                <option value="61b9052848ce5e073c9495be">Run with the pack - Bad Company</option>
                <option value="61b9bb9a48ce5e073c949620">The last waltz disco 1 - The Band</option>
                <option value="61b9bc9c48ce5e073c94962c">The last waltz disco 2 - The Band</option>
                <option value="61b9bccc48ce5e073c949632">The last waltz disco 3 - The Band</option>
                <option value="61b9bceb48ce5e073c949638">The last waltz disco 4 - The Band</option>
                <option value="61b9bdd648ce5e073c94967a">The best of The Band - The Band</option>
                <option value="61b9c2bc48ce5e073c9496cd">The ultimate collection - B.B. King</option>
                <option value="61b9c39a48ce5e073c9496d9">Deuces wild - B.B. King</option>
                <option value="61b9c89648ce5e073c949708">Riding with the king - B.B. King & Eric Clapton</option>
                <option value="61b9d17f48ce5e073c94972e">Blanco y negro: Bebo y Cigala en vivo - Bebo Valdés & El Cigala</option>
                <option value="61af986c311b5222f4c7a50c">The essential recordings - Billie Holiday</option>
                <option value="61b9d79748ce5e073c94977a">52nd street - Billy Joel</option>
                <option value="61b9da9f48ce5e073c949786">Piano man - Billy Joel</option>
                <option value="61b9db2148ce5e073c949792">Glass houses - Billy Joel</option>
                <option value="61b9dce048ce5e073c9497aa">Streetlife serenade - Billy Joel</option>
                <option value="61b9e0b048ce5e073c9497f1">Blind Faith - Blind Faith</option>
                <option value="61b9e88948ce5e073c94986f">The best of - Blur</option>
                <option value="61ba0a9bf8f0d47530fa7138">Street legal - Bob Dylan</option>
                <option value="61ba0b4af8f0d47530fa713e">The best of Bob Dylan - Bob Dylan</option>
                <option value="61ba0c0af8f0d47530fa7144">Self portrait - Bob Dylan</option>
                <option value="61ba0c93f8f0d47530fa714a">Pat Garrett & Billy the Kid - Bob Dylan</option>
                <option value="61ba0d07f8f0d47530fa7150">Slow train coming - Bob Dylan</option>
                <option value="61ba0d98f8f0d47530fa7156">New morning - Bob Dylan</option>
                <option value="61ba0e23f8f0d47530fa715c">Oh mercy - Bob Dylan</option>
                <option value="61ba0e8cf8f0d47530fa7162">Love and theft - Bob Dylan</option>
                <option value="61ba0f32f8f0d47530fa7168">Desire - Bob Dylan</option>
                <option value="61ba0ffff8f0d47530fa716e">Dylan & the dead - Bob Dylan</option>
                <option value="61ba108cf8f0d47530fa7174">Good as i been to you - Bob Dylan</option>
                <option value="61ba1110f8f0d47530fa717a">Unplugged - Bob Dylan</option>
                <option value="61ba1e49f8f0d47530fa7180">The best of Bob Dylan II - Bob Dylan</option>
                <option value="61ba1ecdf8f0d47530fa7186">Bringing it all back home - Bob Dylan</option>
                <option value="61ba1f71f8f0d47530fa7192">Blood on the tracks - Bob Dylan</option>
                <option value="61ba2102f8f0d47530fa7198">Blonde on blonde - Bob Dylan</option>
                <option value="61ba22e0f8f0d47530fa719e">The freewheelin - Bob Dylan</option>
                <option value="61ba2351f8f0d47530fa71a4">Under the red sky - Bob Dylan</option>
                <option value="61ba23caf8f0d47530fa71aa">Time out of mind - Bob Dylan</option>
                <option value="61ba2524f8f0d47530fa71b0">John Wesley Harding - Bob Dylan</option>
                <option value="61ba25a5f8f0d47530fa71b6">Knocked out loaded - Bob Dylan</option>
                <option value="61ba2632f8f0d47530fa71bc">Nashville skyline - Bob Dylan</option>
                <option value="61ba26fbf8f0d47530fa71c2">Highway 61 revisited - Bob Dylan</option>
                <option value="620a7c3759e87640e427ecc5">Infidels - Bob Dylan</option>
                <option value="61ba27b8f8f0d47530fa71c8">The bootleg - Disco 1 - Bob Dylan</option>
                <option value="61ba27e2f8f0d47530fa71ce">The bootleg - Disco 2 - Bob Dylan</option>
                <option value="61ba27fff8f0d47530fa71d4">The bootleg - Disco 3 - Bob Dylan</option>
                <option value="620a7d3659e87640e427ece1">Biograph - Disco 1 - Bob Dylan</option>
                <option value="61ba299cf8f0d47530fa7207">Biograph - Disco 2 - Bob Dylan</option>
                <option value="61ba29c8f8f0d47530fa720d">Biograph - Disco 3 - Bob Dylan</option>
                <option value="61ba2a6af8f0d47530fa7234">Hard rain - Bob Dylan</option>
                <option value="61ba2aeaf8f0d47530fa723a">At Budokan - disco 1 - Bob Dylan</option>
                <option value="61ba2b04f8f0d47530fa7240">At Budokan - disco 2 - Bob Dylan</option>
                <option value="61ba2bd9f8f0d47530fa7267">Greatest hits - disco 2 - Bob Dylan</option>
                <option value="61ba2c6ff8f0d47530fa7270">Greatest hits - disco 3 - Bob Dylan</option>
                <option value="61bb8dd038aaf60714ae3e37">Face the promise - Bob Seger</option>
                <option value="61bb8ec238aaf60714ae3e43">Greatest hits - Bob Seger</option>
                <option value="61bb973c38aaf60714ae3eac">The river - Bruce Springsteen</option>
                <option value="61bb981f38aaf60714ae3eb5">The wild, the innocent and the E Street shuffle - Bruce Springsteen</option>
                <option value="61bb998238aaf60714ae3ec1">Magic - Bruce Springsteen</option>
                <option value="61bb9a7b38aaf60714ae3eca">Born to run - Bruce Springsteen</option>
                <option value="61bb9bb338aaf60714ae3ed3">Live 1975-85 - Disco 1 - Bruce Springsteen</option>
                <option value="61bb9bd238aaf60714ae3ed9">Live 1975-85 - Disco 2 - Bruce Springsteen</option>
                <option value="61bb9bf138aaf60714ae3edf">Live 1975-85 - Disco 3 - Bruce Springsteen</option>
                <option value="61bb9d4138aaf60714ae3f12">Darkness on the edge of town - Bruce Springsteen</option>
                <option value="61bb9e2538aaf60714ae3f24">Greetings from Asbury Park N.J. - Bruce Springsteen</option>
                <option value="61bb9ed038aaf60714ae3f2a">Nebraska - Bruce Springsteen</option>
                <option value="61bb938f38aaf60714ae3e86">Slave to love: best of the ballads - Bryan Ferry</option>
                <option value="61bcded7463d4618349f4a33">Buffalo Springfield - Buffalo Springfield</option>
                <option value="61bce59e463d4618349f4a59">No mires atrás - Burning</option>
                <option value="61bce80a463d4618349f4a5f">Sin miedo a perder - Burning</option>
                <option value="61bce92d463d4618349f4a65">Regalos para mamá - Burning</option>
                <option value="61bcea2c463d4618349f4a6e">Noches de rock&roll - Burning</option>
                <option value="61bceb49463d4618349f4a74">Hazme gritar - Burning</option>
                <option value="61bcf876463d4618349f4a7a">Una noche sin ti - Disco 1 - Burning</option>
                <option value="61bcf899463d4618349f4a80">Una noche sin ti - Disco 2 - Burning</option>
                <option value="61bcfa2a463d4618349f4aa4">Singles collection - Burning</option>
                <option value="61bf2e30fcbcb6227c1caae8">Bulevar - Burning</option>
                <option value="61bf308ffcbcb6227c1caaee">Atrapado en el amor - Burning</option>
                <option value="61bf3175fcbcb6227c1caaf4">Burning colección - Burning</option>
                <option value="61bf4510fcbcb6227c1cab09">En directo - Disco 1 - Burning</option>
                <option value="61bf4534fcbcb6227c1cab0f">En directo - Disco 2 - Burning</option>
                <option value="61bf4781fcbcb6227c1cab33">Madrid - Burning</option>
                <option value="61bf4877fcbcb6227c1cab39">El fin de la década - Burning</option>
                <option value="61bf49b4fcbcb6227c1cab3f">Cuchillo - Burning</option>
                <option value="61bf4b1ffcbcb6227c1cab45">Altura - Burning</option>
                <option value="61bf4ba7fcbcb6227c1cab4b">Banquete para ellos - Burning</option>
                <option value="61af5bb67e74e658a45ddd67">Mirage - Camel</option>
                <option value="61af6707311b5222f4c7a20a">The snow goose - Camel</option>
                <option value="61c3680e69301f3790e2eda5">Boogie with Canned Heat - Canned Heat</option>
                <option value="61c36c8269301f3790e2edce">Just what I needed: The Cars anthology - The Cars</option>
                <option value="61c36ee569301f3790e2edf2">The ultimate collection - Cat Stevens</option>
                <option value="61c371b269301f3790e2ee16">From here to eternity: live - The Clash</option>
                <option value="61c3788f69301f3790e2ee57">Parachutes - Coldplay</option>
                <option value="61c379ce69301f3790e2ee5d">A rush of blood to the head - Coldplay</option>
                <option value="61c37abc69301f3790e2ee63">x & y - Coldplay</option>
                <option value="61c37c3769301f3790e2ee69">Viva la vida or death and all his friends - Coldplay</option>
                <option value="61c3804569301f3790e2ee6f">Susquehanna bank center - Disco 1 - Coldplay</option>
                <option value="61c3806c69301f3790e2ee75">Susquehanna bank center - Disco 2 - Coldplay</option>
                <option value="61c3825669301f3790e2ee99">Glastonbury 2005 - Coldplay</option>
                <option value="61c3833a69301f3790e2ee9f">Castles - Coldplay</option>
                <option value="61c4c40ce3781f25843c3998">Forgiven, not forgotten - The Corrs</option>
                <option value="61c4c4eae3781f25843c39a4">The best of - The Corrs</option>
                <option value="61c4c8e156f12424dcf08821">No need to argue - The Cranberries</option>
                <option value="61c4c9a656f12424dcf0882a">Bury the hatchet - The Cranberries</option>
                <option value="61c4cab9d7905c0c483e905f">To the faithful departed - The Cranberries</option>
                <option value="61c4ceedd7905c0c483e9094">Best of Cream - Cream</option>
                <option value="61c4d1d7d7905c0c483e90ba">Green river - Creedence Clearwater Revival</option>
                <option value="61c4d2b1d7905c0c483e90c6">Willy and the poor boys - Creedence Clearwater Revival</option>
                <option value="61c4d35ad7905c0c483e90d2">Chronicle - Disco 1 - Creedence Clearwater Revival</option>
                <option value="61c7663e41c95413b0fc1ed8">Best of Bowie - Disco 1 - David Bowie</option>
                <option value="61c7666a41c95413b0fc1ee1">Best of Bowie - Disco 2 - David Bowie</option>
                <option value="61c7708641c95413b0fc1f34">In concert with the London Symphony Orchestra - Deep Purple</option>
                <option value="61c7712541c95413b0fc1f3a">Purpendicular - Deep Purple</option>
                <option value="61c771ee41c95413b0fc1f40">Made in Europe - Deep Purple</option>
                <option value="61c7726241c95413b0fc1f46">Deep Purple in rock - Deep Purple</option>
                <option value="61c7732b41c95413b0fc1f4c">Made in Japan - Disco 1 - Deep Purple</option>
                <option value="61c7734a41c95413b0fc1f52">Made in Japan - Disco 2 - Deep Purple</option>
                <option value="61c7745041c95413b0fc1f79">The very best of - Deep Purple</option>
                <option value="61c775ae41c95413b0fc1f7f">Shades 1968 / 1998 - Deep Purple</option>
                <option value="61c7762e41c95413b0fc1f85">Stormbringer - Deep Purple</option>
                <option value="61c8a11fca34c93becf02b20">Cocaine - Disco 1 - Dire Straits</option>
                <option value="61c8a149ca34c93becf02b26">Cocaine - Disco 2 - Dire Straits</option>
                <option value="61c8a21fca34c93becf02b4d">Brothers in arms - Dire Straits</option>
                <option value="61c8a310ca34c93becf02b53">Dire Straits - Dire Straits</option>
                <option value="61c8a3deca34c93becf02b59">Communiqué - Dire Straits</option>
                <option value="61c8a492ca34c93becf02b5f">Love over gold - Dire Straits</option>
                <option value="61c8a6a7ca34c93becf02b65">San Antonio - Disco 1 - Dire Straits</option>
                <option value="61c8a6caca34c93becf02b6b">San Antonio - Disco 2 - Dire Straits</option>
                <option value="61c8ab5cca34c93becf02be8">The very best - The Doobie Brothers</option>
                <option value="61c9b8de6f39db1a385567ff">The Doors - The Doors</option>
                <option value="61c9b9d36f39db1a38556805">Morrison Hotel - The Doors</option>
                <option value="61c9bab36f39db1a3855680b">L. A. woman - The Doors</option>
                <option value="61c9bb876f39db1a38556811">Absolutely live - The Doors</option>
                <option value="61c9bc326f39db1a38556817">The best of The Doors - The Doors</option>
                <option value="61c9c03c6f39db1a38556856">Eagles live - Eagles</option>
                <option value="61c9c1346f39db1a3855685c">Hotel California - Eagles</option>
                <option value="61c9dda86f39db1a38556862">Greatest hits - Disco 1 - Eagles</option>
                <option value="61c9de276f39db1a3855687b">Greatest hits - Disco 2 - Eagles</option>
                <option value="61c9de466f39db1a38556881">Greatest hits - Disco 3 - Eagles</option>
                <option value="61ca15fc6f39db1a3855690f">Greatest hits - Disco 1 - E.L.O.</option>
                <option value="61ca16236f39db1a38556915">Greatest hits - Disco 2 - E.L.O.</option>
                <option value="61ca18f96f39db1a3855695a">Trilogy - Emerson, Lake & Palmer</option>
                <option value="61ca195d6f39db1a38556960">Tarkus - Emerson, Lake & Palmer</option>
                <option value="61ca1c276f39db1a38556984">Desde que no nos vemos - Enrique Urquijo y Los Problemas</option>
                <option value="61ca1d1f6f39db1a3855698a">Enrique Urquijo y Los Problemas - Enrique Urquijo y Los Problemas</option>
                <option value="61ca1f926f39db1a385569ae">A day without rain - Enya</option>
                <option value="61cb65b58f4f293d7813d91a">Blues - Disco 1 - Eric Clapton</option>
                <option value="61cb65d78f4f293d7813d920">Blues - Disco 2 - Eric Clapton</option>
                <option value="61cb67758f4f293d7813d947">Crossroads 2: Live in the seventies - Disco 1 - Eric Clapton</option>
                <option value="61cb67b58f4f293d7813d95c">Crossroads 2: Live in the seventies - Disco 2 - Eric Clapton</option>
                <option value="61cb67d18f4f293d7813d962">Crossroads 2: Live in the seventies - Disco 3 - Eric Clapton</option>
                <option value="61cb67ec8f4f293d7813d968">Crossroads 2: Live in the seventies - Disco 4 - Eric Clapton</option>
                <option value="61cb68fe8f4f293d7813d9ad">24 nights - Disco 1 - Eric Clapton</option>
                <option value="61cb69168f4f293d7813d9b3">24 nights - Disco 2 - Eric Clapton</option>
                <option value="61cb6a868f4f293d7813d9d7">Journeyman - Eric Clapton</option>
                <option value="61cb6b3c8f4f293d7813d9dd">From the cradle - Eric Clapton</option>
                <option value="61cb6bfa8f4f293d7813d9e3">One more car, one more rider - Disco 1 - Eric Clapton</option>
                <option value="61cb6c138f4f293d7813d9e9">One more car, one more rider - Disco 2 - Eric Clapton</option>
                <option value="61cb6cd38f4f293d7813da10">Pilgrim - Eric Clapton</option>
                <option value="61cb6d578f4f293d7813da16">Rush - Eric Clapton</option>
                <option value="61cb6e4c8f4f293d7813da1c">Spezial & not released tracks - Eric Clapton</option>
                <option value="61cb6eb58f4f293d7813da22">Reptile - Eric Clapton</option>
                <option value="61cb6f2e8f4f293d7813da28">Unplugged - Eric Clapton</option>
                <option value="61cc39a9a80a7026a018784b">Destrangis - Estopa</option>
                <option value="61cc3a1ba80a7026a0187851">Estopa - Estopa</option>
                <option value="61cc3f83a80a7026a01878a2">Greatest hits - Eurythmics</option>
                <option value="61cc429da80a7026a01878bd">Lo más lejos, a tu lado - Fito & Fitipaldis</option>
                <option value="61cc4385a80a7026a01878c3">Por la boca vive el pez - Fito & Fitipaldis</option>
                <option value="61cc60a4a80a7026a0187903">Albatross - Fleetwood Mac</option>
                <option value="61cc6138a80a7026a018790f">Fleetwood Mac - Fleetwood Mac</option>
                <option value="61cc61a7a80a7026a0187915">Greatest hits - Fleetwood Mac</option>
                <option value="61cc6242a80a7026a018791b">Rumors - Fleetwood Mac</option>
                <option value="61cc635ea80a7026a0187921">Live in Boston - Fleetwood Mac</option>
                <option value="61cc63cda80a7026a0187927">Tango in the night - Fleetwood Mac</option>
                <option value="61cc645fa80a7026a018792d">Mirage - Fleetwood Mac</option>
                <option value="61cc64f0a80a7026a0187933">Live - Disco 1 - Fleetwood Mac</option>
                <option value="61cc6509a80a7026a0187939">Live - Disco 2 - Fleetwood Mac</option>
                <option value="61cc65d3a80a7026a0187960">Tusk - Fleetwood Mac</option>
                <option value="61cc680aa80a7026a0187966">The blues collection - Fleetwood Mac</option>
                <option value="61cc7bb2a80a7026a01879ea">Dark days in paradise - Gary Moore</option>
                <option value="61cc7d06a80a7026a0187a03">Old new ballads blues - Gary Moore</option>
                <option value="61ce034b9932391a840d958d">Three sides live - Genesis</option>
                <option value="61ce042a9932391a840d9593">Selling England by the pound - Genesis</option>
                <option value="61ce04d09932391a840d9599">Duke - Genesis</option>
                <option value="61ce05ab9932391a840d959f">Foxtrot - Genesis</option>
                <option value="61ce06199932391a840d95a5">Genesis live - Genesis</option>
                <option value="61ce07159932391a840d95ab">Nursery cryme - Genesis</option>
                <option value="61d32d6257d39e4768992526">The George Benson collection - George Benson</option>
                <option value="61d32ea257d39e476899252c">Weekend in L.A. - George Benson</option>
                <option value="61d32f8a57d39e4768992532">In your eyes - George Benson</option>
                <option value="61d3305c57d39e4768992538">20-20 - George Benson</option>
                <option value="61d330e257d39e476899253e">White rabbit - George Benson</option>
                <option value="61d3319c57d39e476899254a">Give me the night - George Benson</option>
                <option value="61d3322957d39e4768992550">Big Boss band - George Benson</option>
                <option value="61d332a257d39e4768992556">In flight - George Benson</option>
                <option value="61d3339d57d39e476899255c">Breezin' - George Benson</option>
                <option value="61d3342657d39e4768992562">Tenderly - George Benson</option>
                <option value="61d334c857d39e4768992568">Love remembers - George Benson</option>
                <option value="61d3354957d39e476899256e">Collaboration - George Benson</option>
                <option value="61d3361f57d39e4768992574">That's right - George Benson</option>
                <option value="61d345ec57d39e476899263b">Todas sus grabaciones 1983/85 - Golpes Bajos</option>
                <option value="61d33bab57d39e4768992607">Lunático - Gotan project</option>
                <option value="61d574536a47f10e48978c56">1039 smoothed out slappy hours - Green Day</option>
                <option value="61d5753f6a47f10e48978c5c">American idiot - Green Day</option>
                <option value="61d575c86a47f10e48978c62">Kerplunk! - Green Day</option>
                <option value="61d576756a47f10e48978c68">Shenanigans - Green Day</option>
                <option value="61d577106a47f10e48978c6e">Dookie - Green Day</option>
                <option value="61d577936a47f10e48978c74">Insomniac - Green Day</option>
                <option value="61d5780e6a47f10e48978c7a">Nimrod - Green Day</option>
                <option value="61d57ce86a47f10e48978cd0">Coses nostres - Iceberg</option>
                <option value="61d57d8a6a47f10e48978cd6">Iceberg en directe - Iceberg</option>
                <option value="61d57e196a47f10e48978cdc">Arc en ciel - Iceberg</option>
                <option value="61d590736a47f10e48978d0e">El apóstol de la lujuria - Ilegales</option>
                <option value="61d591166a47f10e48978d14">Todos están muertos - Ilegales</option>
                <option value="61d592146a47f10e48978d1a">Agotados de esperar el fin - Ilegales</option>
                <option value="61d592a96a47f10e48978d20">Regreso al sexo químicamente puro - Ilegales</option>
                <option value="61d595696a47f10e48978d26">(A la luz o a la sombra) todo está permitido - Ilegales</option>
                <option value="61d596196a47f10e48978d2c">Ilegales - Ilegales</option>
                <option value="61d5983a6a47f10e48978d32">El día que cumplimos 20 años - Disco 1 - Ilegales</option>
                <option value="61d598556a47f10e48978d38">El día que cumplimos 20 años - Disco 2 - Ilegales</option>
                <option value="61d598ed6a47f10e48978d62">Directo - Ilegales</option>
                <option value="61d74835a1c8c34e7836227c">Houseparty: anthology - Disco 1 - The J. Geils Band</option>
                <option value="61d74854a1c8c34e78362282">Houseparty: anthology - Disco 2 - The J. Geils Band</option>
                <option value="61db354acf208d3cb021daba">Troubadour - J. J. Cale</option>
                <option value="61db35bfcf208d3cb021dac0">Naturally - J. J. Cale</option>
                <option value="61d59dbb6a47f10e48978dc8">Running on empty - Jackson Browne</option>
                <option value="61d59e6c6a47f10e48978dd1">Hold out - Jackson Browne</option>
                <option value="61d5b2946a47f10e48978df5">Pearl - Janis Joplin</option>
                <option value="61d5b3a56a47f10e48978dfb">I got dem ol' kozmic blues again mama - Janis Joplin</option>
                <option value="61d5b4626a47f10e48978e01">18 essential songs - Janis Joplin</option>
                <option value="61d5b6316a47f10e48978e07">10 grandes éxitos - Janis Joplin</option>
                <option value="61af80c7311b5222f4c7a3dd">Cábalas y cicatrices - Javier Krahe</option>
                <option value="61ffea491c92f75804738e0c">...Y todo es vanidad - Disco 1 - Javier Krahe</option>
                <option value="61ffea981c92f75804738e21">...Y todo es vanidad - Disco 2 - Javier Krahe</option>
                <option value="61d5cf036a47f10e48978e40">Best of Beck - Jeff Beck</option>
                <option value="61d5cfaa6a47f10e48978e46">Truth - Jeff Beck</option>
                <option value="61d5d02a6a47f10e48978e4c">Beck-Ola - Jeff Beck</option>
                <option value="61d5d1126a47f10e48978e52">Beck, Bogert & Appice - Jeff Beck</option>
                <option value="61d5d1966a47f10e48978e58">There and back - Jeff Beck</option>
                <option value="61d5d21f6a47f10e48978e5e">Blow by blow - Jeff Beck</option>
                <option value="61d5d77c6a47f10e48978eb8">Bursting out live - Disco 1 - Jethro Tull</option>
                <option value="61d5d7ab6a47f10e48978ebe">Bursting out live - Disco 2 - Jethro Tull</option>
                <option value="61d5d8696a47f10e48978ee5">Stand up - Jethro Tull</option>
                <option value="61d5d9316a47f10e48978eeb">Thick as a brick - Jethro Tull</option>
                <option value="61d5da3a6a47f10e48978ef1">Aqualung - Jethro Tull</option>
                <option value="621a308b3bdb2f114c14c8a4">Live at Madison Square Garden - Jethro Tull</option>
                <option value="61d74a2aa1c8c34e783622b1">Electric ladyland - Jimi Hendrix</option>
                <option value="61d74c68a1c8c34e783622b7">Blue Wild Angel: Live at the Isle of Wight - Jimi Hendrix</option>
                <option value="61d74e38a1c8c34e783622db">16 grandes éxitos - Jimi Hendrix</option>
                <option value="61d74ef1a1c8c34e783622e1">Experience Hendrix: the best of Jimi Hendrix - Jimi Hendrix</option>
                <option value="61db3401cf208d3cb021daae">Outrider - Jimmy Page</option>
                <option value="61db348bcf208d3cb021dab4">Walking into clarksdale - Jimmy Page</option>
                <option value="61dc6e96de516d4e2c36b500">Dedicado a Antonio Machado, poeta - Joan Manuel Serrat</option>
                <option value="61dc6f34de516d4e2c36b506">Miguel Hernández - Joan Manuel Serrat</option>
                <option value="61dc6fe3de516d4e2c36b50c">Versos en la boca - Joan Manuel Serrat</option>
                <option value="61dc7de3de516d4e2c36b512">Album de oro - Disco 1 - Joan Manuel Serrat</option>
                <option value="61dc7dffde516d4e2c36b518">Album de oro - Disco 2 - Joan Manuel Serrat</option>
                <option value="61dc7e16de516d4e2c36b51e">Album de oro - Disco 3 - Joan Manuel Serrat</option>
                <option value="61dc7e35de516d4e2c36b524">Album de oro - Disco 4 - Joan Manuel Serrat</option>
                <option value="61dc8103de516d4e2c36b565">Mediterráneo - Joan Manuel Serrat</option>
                <option value="61dc81e9de516d4e2c36b57d">Bienaventurados - Joan Manuel Serrat</option>
                <option value="61dc8260de516d4e2c36b583">Cada loco con su tema - Joan Manuel Serrat</option>
                <option value="61dc83a9de516d4e2c36b589">En tránsito - Joan Manuel Serrat</option>
                <option value="61dc8434de516d4e2c36b58f">1978 - Joan Manuel Serrat</option>
                <option value="61dc8591de516d4e2c36b595">Canción infantil - Joan Manuel Serrat</option>
                <option value="61dc8611de516d4e2c36b59b">Mi niñez - Joan Manuel Serrat</option>
                <option value="61dc86b3de516d4e2c36b5a4">Para piel de manzana - Joan Manuel Serrat</option>
                <option value="61dc87a3de516d4e2c36b5aa">En directo - Disco 1 - Joan Manuel Serrat</option>
                <option value="61dc87c4de516d4e2c36b5b0">En directo - Disco 2 - Joan Manuel Serrat</option>
                <option value="61db364bcf208d3cb021dac6">Nos sobran los motivos - Disco 1 - Joaquín Sabina</option>
                <option value="61db3667cf208d3cb021dacc">Nos sobran los motivos - Disco 2 - Joaquín Sabina</option>
                <option value="61db37ebcf208d3cb021daf6">19 días y 500 noches - Joaquín Sabina</option>
                <option value="61dc32dede516d4e2c36b48b">Dos pájaros de un tiro - Disco 1 - Joaquín Sabina & Joan Manuel Serrat</option>
                <option value="61dc3328de516d4e2c36b4a0">Dos pájaros de un tiro - Disco 2 - Joaquín Sabina & Joan Manuel Serrat</option>
                <option value="61dea90c1a4d0120804097b5">Joe Cocker live - Joe Cocker</option>
                <option value="61dea9871a4d0120804097bb">The best of Joe Cocker - Joe Cocker</option>
                <option value="61deac191a4d0120804097c6">Uh-huh - John Cougar</option>
                <option value="61deb2881a4d0120804097cc">The best of John Cougar - John Cougar</option>
                <option value="61deb7e31a4d01208040981e">The best of Johnny Winter - Johnny Winter</option>
                <option value="61debb581a4d012080409842">Hits - Joni Mitchell</option>
                <option value="61debd5f1a4d01208040985d">Classics in the key of G - Kenny G</option>
                <option value="61dec1771a4d01208040987e">Pata palo - Kiko Veneno</option>
                <option value="61dec5371a4d0120804098a6">Puro veneno - Kiko Veneno</option>
                <option value="61dec6711a4d0120804098ac">Veneno - Kiko Veneno</option>
                <option value="61deca1c1a4d0120804098e4">In the court of the Crimson king - King Crimson</option>
                <option value="61decace1a4d0120804098ea">Larks' tongues in aspic - King Crimson</option>
                <option value="61decbbb1a4d0120804098f3">Starless and bible black - King Crimson</option>
                <option value="61decc2b1a4d0120804098f9">In the wake of Poseidon - King Crimson</option>
                <option value="61decce01a4d0120804098ff">Red - King Crimson</option>
                <option value="61e07d229b35fc3394949a2f">The song remains the same - Led Zeppelin</option>
                <option value="61e07e759b35fc3394949a35">Led Zeppelin - Led Zeppelin</option>
                <option value="61e0802b9b35fc3394949a41">Led Zeppelin II - Led Zeppelin</option>
                <option value="61e080a69b35fc3394949a47">Led Zeppelin III - Led Zeppelin</option>
                <option value="61e084009b35fc3394949a4d">Led Zeppelin IV - Led Zeppelin</option>
                <option value="61e084b59b35fc3394949a53">Presence - Led Zeppelin</option>
                <option value="61e085819b35fc3394949a59">Physical graffiti - Led Zeppelin</option>
                <option value="61e0865f9b35fc3394949a5f">Coda - Led Zeppelin</option>
                <option value="61e087749b35fc3394949a6e">Leño - Leño</option>
                <option value="61e087ee9b35fc3394949a74">Más madera - Leño</option>
                <option value="61e089589b35fc3394949a7a">Maneras de vivir - Leño</option>
                <option value="61e089c19b35fc3394949a80">En directo - Leño</option>
                <option value="61e08a3f9b35fc3394949a86">Corre, corre - Leño</option>
                <option value="61e31f581290aa1ae0e3d7c1">Back on the road - Little Feat</option>
                <option value="61e458d66ae7932338bfca4c">City lights (classic performances) - Lou Reed</option>
                <option value="61e459756ae7932338bfca52">Rock and roll heart - Lou Reed</option>
                <option value="61e45a266ae7932338bfca58">Street hassle - Lou Reed</option>
                <option value="61e45ab56ae7932338bfca5e">Berlín - Lou Reed</option>
                <option value="61e45b316ae7932338bfca64">Sally can't dance - Lou Reed</option>
                <option value="61e45c356ae7932338bfca6a">Coney island baby - Lou Reed</option>
                <option value="61e45d246ae7932338bfca70">Rock 'n' roll animal - Lou Reed</option>
                <option value="61e45deb6ae7932338bfca76">Transformer - Lou Reed</option>
                <option value="61e3236c1290aa1ae0e3d7dc">The Louis Armstrong songbook - Louis Armstrong</option>
                <option value="61e45ed06ae7932338bfca7c">Second helping - Lynyrd Skynyrd</option>
                <option value="61e45f7a6ae7932338bfca82">Street survivors - Lynyrd Skynyrd</option>
                <option value="61e4602c6ae7932338bfca88">Pronounced leh-nerd skin-nerd - Lynyrd Skynyrd</option>
                <option value="61e5a800a3d6341b6c4185a8">Existir - Madredeus</option>
                <option value="61e5a8cea3d6341b6c4185ae">Ainda - Madredeus</option>
                <option value="61e5a9b7a3d6341b6c4185b4">Euforia - Madredeus</option>
                <option value="61e5aa79a3d6341b6c4185ba">O espirito da paz - Madredeus</option>
                <option value="61e5ab33a3d6341b6c4185c0">O paraiso - Madredeus</option>
                <option value="61e5ac0ba3d6341b6c4185c6">Os dias da Madredeus - Madredeus</option>
                <option value="61e5b189503857203c53e436">All the leaves are brown - Disco 1 - The Mamas & The Papas</option>
                <option value="61e5b1ac503857203c53e43c">All the leaves are brown - Disco 2 - The Mamas & The Papas</option>
                <option value="61cc3d35a80a7026a0187887">Maná en vivo - Maná</option>
                <option value="61e5bce5503857203c53e56d">Amar es combatir - Maná</option>
                <option value="61e5bd95503857203c53e573">Arde el cielo - Maná</option>
                <option value="61e5be3d503857203c53e579">¿Dónde jugarán los niños? - Maná</option>
                <option value="61e5bf52503857203c53e57f">Sueños líquidos - Maná</option>
                <option value="61e5c000503857203c53e585">Falta amor - Maná</option>
                <option value="61e5c6c2503857203c53e5c6">La Mandrágora - La Mandrágora</option>
                <option value="61ae1bb20aee8f50bc490d21">Fuego en la piel - Manolo Tena</option>
                <option value="61e70e244f90761d249c3636">Best of Mano Negra - Mano Negra</option>
                <option value="61e70f384f90761d249c363c">Live in Holland 1990 - Mano Negra</option>
                <option value="61e710424f90761d249c3642">Próxima estación... Esperanza - Manu Chao</option>
                <option value="61e710d74f90761d249c3648">Clandestino - Manu Chao</option>
                <option value="61e712ed4f90761d249c364e">Shangri live in Rome - Mark Knopfler</option>
                <option value="61e7ec0f848d080a34b63732">Ana José Nacho - Disco 1 - Mecano</option>
                <option value="61e7ec46848d080a34b63738">Ana José Nacho - Disco 2 - Mecano</option>
                <option value="61e7ed09848d080a34b6375c">Descanso dominical - Mecano</option>
                <option value="61e7ee3a848d080a34b63762">Mecano - Mecano</option>
                <option value="61e7eeee848d080a34b63768">Entre el cielo y el suelo - Mecano</option>
                <option value="61e7ef97848d080a34b6376e">Que el cielo espere sentao - Melendi</option>
                <option value="61e7f0b2848d080a34b63774">Sin noticias de Holanda - Melendi</option>
                <option value="62211e814b2e0a2194fd5765">The Michael Schenker Group - Michael Schenker Group</option>
                <option value="61e7f185848d080a34b6377a">One night at Budokan - Michael Schenker Group</option>
                <option value="61e7f248848d080a34b63780">MSG - Michael Schenker Group</option>
                <option value="61e7f2d5848d080a34b63786">Assault attack - Michael Schenker Group</option>
                <option value="61e854b991a04a132cb1b23d">Rock & Ríos - Disco 1 - Miguel Ríos</option>
                <option value="61e854d691a04a132cb1b243">Rock & Ríos - Disco 2 - Miguel Ríos</option>
                <option value="61e8564291a04a132cb1b26e">Tubular bells - Mike Oldfield</option>
                <option value="61e8570391a04a132cb1b274">Tubular bells II - Mike Oldfield</option>
                <option value="61e857bc91a04a132cb1b27a">Tubular bells III - Mike Oldfield</option>
                <option value="61e85c0e91a04a132cb1b280">Tubular bells III live in London - Mike Oldfield</option>
                <option value="61e85e0791a04a132cb1b286">Kind of blue - Miles Davis</option>
                <option value="61e85edf91a04a132cb1b28c">¿Dónde jugarán las niñas? - Molotov</option>
                <option value="61e85fad91a04a132cb1b292">Apocalypshit - Molotov</option>
                <option value="61e8614a91a04a132cb1b298">Eine kleine nachtmusik - Mozart</option>
                <option value="61e999ce6932cb36fc1c2486">The anthology 1947/1972 - Disco 1 - Muddy Waters</option>
                <option value="61e999f06932cb36fc1c248c">The anthology 1947/1972 - Disco 2 - Muddy Waters</option>
                <option value="61e99adc6932cb36fc1c24b0">The London Muddy Waters sessions - Muddy Waters</option>
                <option value="61e99bb76932cb36fc1c24b6">Nacha Pop 80/88 - Nacha Pop</option>
                <option value="61e99ce66932cb36fc1c24bc">Göteborg - Neil Young</option>
                <option value="61e99dd86932cb36fc1c24c2">Bleach - Nirvana</option>
                <option value="61e99e956932cb36fc1c24c8">Nevermind - Nirvana</option>
                <option value="61e99f266932cb36fc1c24ce">Incesticide - Nirvana</option>
                <option value="61e99fe96932cb36fc1c24d4">In utero - Nirvana</option>
                <option value="61e9a0816932cb36fc1c24da">Unplugged in New York - Nirvana</option>
                <option value="61ae600d0aee8f50bc490f9e">Come away with me - Norah Jones</option>
                <option value="61ae67590aee8f50bc4910fa">Feels like home - Norah Jones</option>
                <option value="62260a5c2daf5327dced34b9">Not too late - Norah Jones</option>
                <option value="61eb0c8abc6e8e3d14228898">Don't believe the truth - Oasis</option>
                <option value="61eb0dc8bc6e8e3d1422889e">(What's the story) morning glory? - Oasis</option>
                <option value="61eb0e80bc6e8e3d142288a4">Definitely maybe - Oasis</option>
                <option value="61eb0f0fbc6e8e3d142288aa">Zyryab - Paco de Lucía</option>
                <option value="61eb0fa5bc6e8e3d142288b0">Luzia - Paco de Lucía</option>
                <option value="61eb1094bc6e8e3d142288b6">Entre dos aguas - Paco de Lucía</option>
                <option value="61eb1129bc6e8e3d142288bc">En vivo desde el teatro Real - Paco de Lucía</option>
                <option value="61eb11fabc6e8e3d142288c2">Castillo de arena - Paco de Lucía</option>
                <option value="61eb12c6bc6e8e3d142288c8">Live in America - Paco de Lucía</option>
                <option value="61eb13b0bc6e8e3d142288ce">Interpreta a Manuel de Falla - Paco de Lucía</option>
                <option value="61eb1430bc6e8e3d142288d4">Castro Marín - Paco de Lucía</option>
                <option value="61eb15c3bc6e8e3d142288da">El orgullo de mi padre - Paco de Lucía</option>
                <option value="61eb1642bc6e8e3d142288e0">Live... one summer night - Paco de Lucía</option>
                <option value="61eb16b0bc6e8e3d142288e6">Siroco - Paco de Lucía</option>
                <option value="61eb1746bc6e8e3d142288ec">Concierto de Aranjuez - Paco de Lucía</option>
                <option value="61edac8c5d62ce30301593d9">Blues de la frontera - Pata Negra</option>
                <option value="61edae075d62ce30301593df">Pata Negra - Pata Negra</option>
                <option value="61edaed45d62ce30301593e5">The road to you - Pat Metheny</option>
                <option value="61edafca5d62ce30301593eb">Horses -Patti Smith</option>
                <option value="61edb07f5d62ce30301593f1">Algo para cantar - Pereza</option>
                <option value="61edb12c5d62ce30301593f7">Animales - Pereza</option>
                <option value="61edb1a25d62ce30301593fd">Aproximaciones - Pereza</option>
                <option value="61eeae88affe5138f4b5674b">Frampton comes alive! - Peter Frampton</option>
                <option value="61eeaf77affe5138f4b56751">Hit - Disco 1 - Peter Gabriel</option>
                <option value="61eeafcbaffe5138f4b56757">Hit - Disco 2 - Peter Gabriel</option>
                <option value="61eeb0d9affe5138f4b5677e">So - Peter Gabriel</option>
                <option value="61eeb204affe5138f4b56784">Face value - Phil Collins</option>
                <option value="61eeb2a4affe5138f4b5678a">Both sides - Phil Collins</option>
                <option value="61eef5465e94610498b617b9">Ummagumma - Pink Floyd</option>
                <option value="61eef6b15e94610498b617bf">Dark side of the moon - Pink Floyd</option>
                <option value="61eef79d5e94610498b617c5">Meddle - Pink Floyd</option>
                <option value="61eef8e45e94610498b617cb">Wish you were here - Pink Floyd</option>
                <option value="61eef9b25e94610498b617d1">Atom heart mother - Pink Floyd</option>
                <option value="61eefabb5e94610498b617d7">Animals - Pink Floyd</option>
                <option value="61eefbd45e94610498b617dd">The wall - Pink Floyd</option>
                <option value="61eefce65e94610498b617e3">Message in a box. The complete recordings - Disco 1 - The Police</option>
                <option value="61eefd055e94610498b617e9">Message in a box. The complete recordings - Disco 2 - The Police</option>
                <option value="61eefd225e94610498b617ef">Message in a box. The complete recordings - Disco 3 - The Police</option>
                <option value="61eefd3e5e94610498b617f5">Message in a box. The complete recordings - Disco 4 - The Police</option>
                <option value="61eefe465e94610498b61831">Their greatest hits - The Police</option>
                <option value="61f1376a7813c3476c3bccd9">Alma de blues - Presuntos Implicados</option>
                <option value="61f138717813c3476c3bcce2">Pretenders - The Pretenders</option>
                <option value="61f1399b7813c3476c3bcce8">¡Viva el amor! - The Pretenders</option>
                <option value="61f13ab67813c3476c3bccee">Last of the independents - The Pretenders</option>
                <option value="61f13b6b7813c3476c3bccfe">Pretenders II - The Pretenders</option>
                <option value="61f13bee7813c3476c3bcd04">The singles - The Pretenders</option>
                <option value="61f13ca87813c3476c3bcd0a">Hot space - Queen</option>
                <option value="61f13d4d7813c3476c3bcd10">A day at the races - Queen</option>
                <option value="61f13e497813c3476c3bcd16">A night at the opera - Queen</option>
                <option value="61f13fd37813c3476c3bcd1c">The platinum collection - Disco 1 - Queen</option>
                <option value="61f13ff17813c3476c3bcd22">The platinum collection - Disco 2 - Queen</option>
                <option value="61f140447813c3476c3bcd31">The platinum collection - Disco 3 - Queen</option>
                <option value="61f19a1d513bef4604380b6c">La ley del desierto / la ley del mar - Radio Futura</option>
                <option value="61f19ada513bef4604380b72">La canción de Juan Perro - Radio Futura</option>
                <option value="61f19bac513bef4604380b78">Escuela de calor. El directo de Radio Futura - Radio Futura</option>
                <option value="61f19c4d513bef4604380b8d">De un país en llamas - Radio Futura</option>
                <option value="61f19d86513bef4604380b93">Un okupa en tu corazón - Raimundo Amador</option>
                <option value="61f19e37513bef4604380b99">En la esquina de Las Vegas - Raimundo Amador</option>
                <option value="61f19f13513bef4604380b9f">Noche de flamenco y blues - Raimundo Amador</option>
                <option value="61f1a002513bef4604380ba5">Gerundina - Raimundo Amador</option>
                <option value="61f2f4ba03326021f01ae1db">Ritchie Blackmore's rainbow - Rainbow</option>
                <option value="61f2f57b03326021f01ae1e1">Rising - Rainbow</option>
                <option value="61f2f65703326021f01ae1e7">Long live rock 'n' roll - Rainbow</option>
                <option value="61f2f77403326021f01ae1ed">Down to earth - Rainbow</option>
                <option value="61f2f82903326021f01ae1f3">On stage - Rainbow</option>
                <option value="61f2f8ac03326021f01ae1f9">Document - R.E.M.</option>
                <option value="61f2f93803326021f01ae1ff">Murmur - R.E.M.</option>
                <option value="61f2f9ec03326021f01ae205">Out of time - R.E.M.</option>
                <option value="61f43c03f4a6654d2424ad17">Básico - Revólver</option>
                <option value="61f43d0a7e64274ed045da00">Básico 2 - Revólver</option>
                <option value="61f43dd67e64274ed045da06">Básico 3 - Revólver</option>
                <option value="61f43e8d7e64274ed045da0c">21 gramos - Revólver</option>
                <option value="61f43f297e64274ed045da12">Bridge of sighs - Robin Trower</option>
                <option value="61f4403a7e64274ed045da18">Victims of the fury - Robin Trower</option>
                <option value="61f4414e7e64274ed045da1e">A night on the town - Rod Stewart</option>
                <option value="61f4423f7e64274ed045da24">Greatest hits, Vol. 1 - Rod Stewart</option>
                <option value="61f590aca7ca892138647ebd">Hasta luego - Los Rodríguez</option>
                <option value="61f591bba7ca892138647edb">Some girls - The Rolling Stones</option>
                <option value="61f593e7a7ca892138647ee1">Around and around - The Rolling Stones</option>
                <option value="61f594eea7ca892138647ee7">Sticky fingers - The Rolling Stones</option>
                <option value="61f595b6a7ca892138647eed">Black and blue - The Rolling Stones</option>
                <option value="61f5965aa7ca892138647ef3">Steel Wheels - The Rolling Stones</option>
                <option value="61f59710a7ca892138647ef9">Metamorphosis - The Rolling Stones</option>
                <option value="61f59816a7ca892138647eff">Beggars banquet - The Rolling Stones</option>
                <option value="61f598c7a7ca892138647f05">Still life - The Rolling Stones</option>
                <option value="61f5993fa7ca892138647f0b">Love you live - Disco 1 - The Rolling Stones</option>
                <option value="61f59965a7ca892138647f11">Love you live - Disco 2 - The Rolling Stones</option>
                <option value="61f59a74a7ca892138647f38">Emotional rescue - The Rolling Stones</option>
                <option value="61f59b16a7ca892138647f3e">Tattoo you - The Rolling Stones</option>
                <option value="61f59bdca7ca892138647f44">It's only rock 'n' roll - The Rolling Stones</option>
                <option value="61f59c69a7ca892138647f4a">Out of our heads - The Rolling Stones</option>
                <option value="61f59d26a7ca892138647f50">Their satanic majesties request - The Rolling Stones</option>
                <option value="61f59dc2a7ca892138647f56">Goat's head soup - The Rolling Stones</option>
                <option value="61f6d449bbcaa8252420744a">A tientas y barrancas - Rosendo</option>
                <option value="61f6d4ddbbcaa82524207450">Agradecidos... Rosendo - Rosendo</option>
                <option value="61f6d5b9bbcaa82524207456">... A las lombrices - Rosendo</option>
                <option value="61f6d650bbcaa8252420745c">Veo, veo... mamoneo!! - Rosendo</option>
                <option value="61f6d6f6bbcaa82524207462">Canciones para normales y mero dementes - Rosendo</option>
                <option value="61f6d785bbcaa82524207468">Deja que les diga que no! - Rosendo</option>
                <option value="61f6d84dbbcaa8252420746e">Siempre hay una historia... en directo - Rosendo</option>
                <option value="61f6d971bbcaa82524207474">Dame algo - Rosendo</option>
                <option value="61f6d9f5bbcaa8252420747a">Fuera de lugar - Rosendo</option>
                <option value="61f6db94bbcaa82524207480">Grandes éxitos de Rosendo - Rosendo</option>
                <option value="61f6dc1abbcaa82524207486">Para mal o para bien - Rosendo</option>
                <option value="61f6dc93bbcaa8252420748c">Directo - Rosendo</option>
                <option value="61f6dd2ebbcaa82524207492">Jugar al gua - Rosendo</option>
                <option value="61f6dda5bbcaa82524207498">La tortuga - Rosendo</option>
                <option value="61f6de51bbcaa8252420749e">Listos para la reconversión - Rosendo</option>
                <option value="61f6def5bbcaa825242074a4">Loco por incordiar - Rosendo</option>
                <option value="61f6df92bbcaa825242074aa">Avalon - Roxy Music</option>
                <option value="61f6e010bbcaa825242074b0">For your pleasure - Roxy Music</option>
                <option value="61f6e0a5bbcaa825242074b6">The best of Roxy Music - Roxy Music</option>
                <option value="61f6e190bbcaa825242074c6">Country life - Roxy Music</option>
                <option value="61f811c78e34ef367c6ccf95">Gold - Ryan Adams</option>
                <option value="61f8129a8e34ef367c6ccf9b">Heartbreaker - Ryan Adams</option>
                <option value="61f813248e34ef367c6ccfa1">Love deluxe - Sade</option>
                <option value="61f813d58e34ef367c6ccfa7">Lovers rock - Sade</option>
                <option value="61f8145e8e34ef367c6ccfad">Diamond life - Sade</option>
                <option value="61f8152e8e34ef367c6ccfb3">Promise - Sade</option>
                <option value="61f8159e8e34ef367c6ccfb9">Stronger than pride - Sade</option>
                <option value="61f818238e34ef367c6ccfbf">Wonderful world - Sam Cooke</option>
                <option value="61f8199d8e34ef367c6ccfc5">Live at the Harlem Square Club, 1963 - Sam Cooke</option>
                <option value="61f81a638e34ef367c6ccfcb">The best of Santana - Santana</option>
                <option value="61f81b5c8e34ef367c6ccfd1">Supernatural - Santana</option>
                <option value="61f81d3d8e34ef367c6ccfd7">The best of Santana - Santana</option>
                <option value="61f98f9107db7c4c5c60930f">Grandes éxitos - Los Secretos</option>
                <option value="61f991c207db7c4c5c609315">A tu lado - Los Secretos</option>
                <option value="61f9922807db7c4c5c60931b">Algo más - Los Secretos</option>
                <option value="61f9942c07db7c4c5c609321">Los Secretos - Los Secretos</option>
                <option value="61f995f707db7c4c5c609327">The very best of Steely Dan: Reelin' in the years - Steely Dan</option>
                <option value="61f9967c07db7c4c5c60932d">Gaucho - Steely Dan</option>
                <option value="61f996ee07db7c4c5c609333">Aja - Steely Dan</option>
                <option value="61f9978307db7c4c5c609339">Manassas -Stephen Stills</option>
                <option value="61fa6b903412dc471c68c398">Chronicles - Steve Winwood</option>
                <option value="61fa6d163412dc471c68c39e">Roll with it - Steve Winwood</option>
                <option value="61fa6ff23412dc471c68c3a4">Keep on running - Steve Winwood</option>
                <option value="61fa71173412dc471c68c3aa">In the beginning - Stevie Ray Vaughan</option>
                <option value="61fa73c43412dc471c68c3b6">In session - Stevie Ray Vaughan</option>
                <option value="61fa74643412dc471c68c3bc">Live alive - Stevie Ray Vaughan</option>
                <option value="61fa75123412dc471c68c3c2">Texas flood - Stevie Ray Vaughan</option>
                <option value="61fa75913412dc471c68c3c8">Couldn't stand the weather - Stevie Ray Vaughan</option>
                <option value="61fabb7e3412dc471c68c43a">The secret life of plants - Disco 1 - Stevie Wonder</option>
                <option value="61fabba93412dc471c68c440">The secret life of plants - Disco 2 - Stevie Wonder</option>
                <option value="61fabcaf3412dc471c68c467">The definitive collection - Stevie Wonder</option>
                <option value="61fabd6f3412dc471c68c46d">Songs in the key of life - Disco 1 - Stevie Wonder</option>
                <option value="61fabd9a3412dc471c68c473">Songs in the key of life - Disco 2 - Stevie Wonder</option>
                <option value="61fabecc3412dc471c68c49a">Fields of gold: the best of Sting 1984-1994 - Sting</option>
                <option value="61fabf523412dc471c68c4a0">Mercury falling - Sting</option>
                <option value="61fac00d3412dc471c68c4a6">Brand new day - Sting</option>
                <option value="61facd683412dc471c68c515">Even in the quietest moments... - Supertramp</option>
                <option value="61face1c3412dc471c68c51b">Crisis? What crisis? - Supertramp</option>
                <option value="61facffb3412dc471c68c524">Paris - Supertramp</option>
                <option value="61fad0893412dc471c68c52a">Crime of the century - Supertramp</option>
                <option value="61fad2303412dc471c68c530">Breakfast in America - Supertramp</option>
                <option value="61fad3da1cfb3e508c5b6359">Double live Gonzo! - Disco 1 - Ted Nugent</option>
                <option value="61fad41a1cfb3e508c5b635f">Double live Gonzo! - Disco 2 - Ted Nugent</option>
                <option value="61fc31db176e405ae8c31064">Ssssh - Ten Years After</option>
                <option value="61fc326e176e405ae8c3106a">Recorded live - Ten Years After</option>
                <option value="61fc3404176e405ae8c31070">Pure blues - Ten Years After</option>
                <option value="61fc3598176e405ae8c31080">Essential - Ten Years After</option>
                <option value="61fc3637176e405ae8c31086">Careful what you wish for - Texas</option>
                <option value="61fc39d9176e405ae8c3108c">White on blonde - Texas</option>
                <option value="61fc3ad3176e405ae8c31092">Ricks road - Texas</option>
                <option value="61fc3b51176e405ae8c31098">The hush - Texas</option>
                <option value="61fc3c09176e405ae8c3109e">Red book - Texas</option>
                <option value="61fc3cd9176e405ae8c310a4">The greatest hits - Texas</option>
                <option value="61fc3d92176e405ae8c310aa">Mothers heaven - Texas</option>
                <option value="61fc3e1f176e405ae8c310b0">Southside - Texas</option>
                <option value="61fd83a790dd614a188f4947">Rarities - Texas</option>
                <option value="61fe69a218d0ef30f878bdef">Meanwhile back at the ranch - Texas Lightning</option>
                <option value="61fe6a3e18d0ef30f878bdf5">All the best -Disco 1 - Tina Turner</option>
                <option value="623e0c116e21d02cd4387f67">All the best -Disco 2 - Tina Turner</option>
                <option value="61fe6af818d0ef30f878bdfb">She's the one - Tom Petty and the Heartbreakers</option>
                <option value="61fe6b9b18d0ef30f878be01">Echo - Tom Petty and the Heartbreakers</option>
                <option value="61fe6c6b18d0ef30f878be07">Greatest hits - Tom Petty and the Heartbreakers</option>
                <option value="61fe908ea8353a236cc20006">Pack up the plantation: live! - Tom Petty and the Heartbreakers</option>
                <option value="61fe6f1b18d0ef30f878be13">The ghost of Tow Waits - Tow Waits</option>
                <option value="61fe6ffb18d0ef30f878be19">Topo - Topo</option>
                <option value="61fec852620ebb32b0ff3cce">The best of Toto - Toto</option>
                <option value="61b9e42048ce5e073c949825">Traffic - Traffic</option>
                <option value="61fec956620ebb32b0ff3cd4">El patio - Triana</option>
                <option value="61fec9ca620ebb32b0ff3cda">Hijos del agobio - Triana</option>
                <option value="61feca9c620ebb32b0ff3ce0">All that you can't leave behind - U2</option>
                <option value="61fecc1b620ebb32b0ff3ce6">Elevation 2001: Live from Boston - Disco 1 - U2</option>
                <option value="61fecc3d620ebb32b0ff3cec">Elevation 2001: Live from Boston - Disco 2 - U2</option>
                <option value="61fecd78620ebb32b0ff3d13">Boy - U2</option>
                <option value="61fece5b620ebb32b0ff3d19">The Joshua tree - U2</option>
                <option value="61fecefe620ebb32b0ff3d1f">War - U2</option>
                <option value="61fecf9e620ebb32b0ff3d25">Zooropa - U2</option>
                <option value="61fed061620ebb32b0ff3d2b">October - U2</option>
                <option value="61fed0ee620ebb32b0ff3d31">Under a blood red sky - U2</option>
                <option value="61fed1b6620ebb32b0ff3d37">The best of 1990-2000 - Disco 1 - U2</option>
                <option value="61fed1ea620ebb32b0ff3d3d">The best of 1990-2000 - Disco 2 - U2</option>
                <option value="61fed2ba620ebb32b0ff3d64">The best of 1980-1990 - Disco 1 - U2</option>
                <option value="61fed2db620ebb32b0ff3d6a">The best of 1980-1990 - Disco 2 - U2</option>
                <option value="61ffa3f671778c4bfc1ffb42">Tren de largo recorrido - Disco 1 - La Unión</option>
                <option value="61ffa41971778c4bfc1ffb48">Tren de largo recorrido - Disco 2 - La Unión</option>
                <option value="61ffa52671778c4bfc1ffb6f">Best of volume 1 - Van Halen</option>
                <option value="61ffa5cc71778c4bfc1ffb75">Into the music - Van Morrison</option>
                <option value="61ffa6e171778c4bfc1ffb7b">A night in San Francisco - Disco 1 - Van Morrison</option>
                <option value="61ffa70371778c4bfc1ffb81">A night in San Francisco - Disco 2 - Van Morrison</option>
                <option value="61ffa89a71778c4bfc1ffba8">It's too late to stop now - Van Morrison</option>
                <option value="61ffa98671778c4bfc1ffbae">The best of Van Morrison - Van Morrison</option>
                <option value="61ffaa1471778c4bfc1ffbb4">Back on top - Van Morrison</option>
                <option value="61ffaacf71778c4bfc1ffbba">The skiffle sessions: live in Belfast 1998 - Van Morrison</option>
                <option value="61ffab4071778c4bfc1ffbc0">You win again - Van Morrison</option>
                <option value="61ffac1c71778c4bfc1ffbc6">Tell me something: the songs of Mose Allison - Van Morrison</option>
                <option value="61ffaf7871778c4bfc1ffbcc">Goodbye baby - Van Morrison</option>
                <option value="61ffb04a71778c4bfc1ffbd2">The philosopher's stone - Disco 1 - Van Morrison</option>
                <option value="61ffb06b71778c4bfc1ffbd8">The philosopher's stone - Disco 2 - Van Morrison</option>
                <option value="61ffb16271778c4bfc1ffbff">Live at the Grand Opera House Belfast - Van Morrison</option>
                <option value="61ffb23371778c4bfc1ffc05">How long has this been going on - Van Morrison</option>
                <option value="61ffc92d71778c4bfc1ffcf2">Blues box 1963-1970 - Varios</option>
                <option value="61ffccd871778c4bfc1ffcf8">Blues & soul - Varios</option>
                <option value="61ffcf2e71778c4bfc1ffcfe">Crossroads guitar festival 2007 - Disco 1 - Varios</option>
                <option value="61ffcf9c1c92f75804738c0b">Crossroads guitar festival 2007 - Disco 2 - Varios</option>
                <option value="61ffcfc11c92f75804738c11">Crossroads guitar festival 2007 - Disco 3 - Varios</option>
                <option value="61ffcff61c92f75804738c1a">Crossroads guitar festival 2007 - Disco 4 - Varios</option>
                <option value="61ffd0121c92f75804738c20">Crossroads guitar festival 2007 - Disco 5 - Varios</option>
                <option value="61ffd0341c92f75804738c26">Crossroads guitar festival 2007 - Disco 6 - Varios</option>
                <option value="61ffd05e1c92f75804738c2f">Crossroads guitar festival 2007 - Disco 7 - Varios</option>
                <option value="61ffd07f1c92f75804738c35">Crossroads guitar festival 2007 - Disco 8 - Varios</option>
                <option value="61ffd09c1c92f75804738c3b">Crossroads guitar festival 2007 - Disco 9 - Varios</option>
                <option value="61ffdd761c92f75804738cc2">Jesus Christ Superstar - Disco 1 - Varios</option>
                <option value="61ffdd991c92f75804738cc8">Jesus Christ Superstar - Disco 2 - Varios</option>
                <option value="61ffde7e1c92f75804738cef">Música de los dioses - Varios</option>
                <option value="61ffe2eb1c92f75804738cf5">Nos va la marcha - Varios</option>
                <option value="61ffe4f31c92f75804738cfb">The complete bootleg Woodstock - Disco 1 - Varios</option>
                <option value="61ffe5281c92f75804738d01">The complete bootleg Woodstock - Disco 2 - Varios</option>
                <option value="61ffe5531c92f75804738d07">The complete bootleg Woodstock - Disco 3 - Varios</option>
                <option value="61ffe5731c92f75804738d0d">The complete bootleg Woodstock - Disco 4 - Varios</option>
                <option value="61ffe5931c92f75804738d13">The complete bootleg Woodstock - Disco 5 - Varios</option>
                <option value="61ffe5c51c92f75804738d19">The complete bootleg Woodstock - Disco 6 - Varios</option>
                <option value="61ffe5e21c92f75804738d1f">The complete bootleg Woodstock - Disco 7 - Varios</option>
                <option value="61ffe5fc1c92f75804738d25">The complete bootleg Woodstock - Disco 8 - Varios</option>
                <option value="61ffe6201c92f75804738d2b">The complete bootleg Woodstock - Disco 9 - Varios</option>
                <option value="61fff6c41c92f7580473904f">The complete bootleg Woodstock - Disco 10 - Varios</option>
                <option value="61ffe65e1c92f75804738d37">The complete bootleg Woodstock - Disco 11 - Varios</option>
                <option value="61ffe67b1c92f75804738d3d">The complete bootleg Woodstock - Disco 12 - Varios</option>
                <option value="61ffe9831c92f75804738e06">The secret policeman's concert - Varios</option>
                <option value="61ffecf51c92f75804738e4e">Woodstock '69 25 aniversario - Disco 1 - Varios</option>
                <option value="61ffed1a1c92f75804738e54">Woodstock '69 25 aniversario - Disco 2 - Varios</option>
                <option value="61ffed361c92f75804738e5a">Woodstock '69 25 aniversario - Disco 3 - Varios</option>
                <option value="61ffed571c92f75804738e60">Woodstock '69 25 aniversario - Disco 4 - Varios</option>
                <option value="62001de71c92f75804739146">Woodstock '69 - Disco 1 - Varios</option>
                <option value="62001e3b1c92f7580473914d">Woodstock '69 - Disco 2 - Varios</option>
                <option value="62001e691c92f75804739153">Woodstock '69 - Disco 3 - Varios</option>
                <option value="62001e861c92f75804739159">Woodstock '69 - Disco 4 - Varios</option>
                <option value="6200216a1c92f758047391a0">Tommy - The Who</option>
                <option value="620022551c92f758047391a6">Quadrophenia - The Who</option>
                <option value="6200230e1c92f758047391ac">Who's next - The Who</option>
                <option value="620023c81c92f758047391b2">Who are you - The Who</option>
                <option value="6200247b1c92f758047391b8">My generation: the very best of The Who - The Who</option>
                <option value="62013c8fdc6a7b59280b870a">Blue eyed blues - The Yardbirds</option>
                <option value="62013df5dc6a7b59280b8710">Greatest hits - The Yardbirds</option>
                <option value="620144cadc6a7b59280b8716">Close to the edge - Yes</option>
                <option value="620145a1dc6a7b59280b871c">Relayer - Yes</option>
                <option value="62014639dc6a7b59280b8722">Yesterdays - Yes</option>
                <option value="620146fbdc6a7b59280b8728">Fragile - Yes</option>
                <option value="620147e2dc6a7b59280b872e">Highlights: the very best of Yes - Yes</option>
                <option value="620148acdc6a7b59280b8734">Time and a word - Yes</option>
                <option value="6201496adc6a7b59280b873a">Tormato - Yes</option>
                <option value="62014a38dc6a7b59280b8740">Tres hombres - ZZ Top</option>
                <option value="62014ac7dc6a7b59280b8746">Eliminator - ZZ Top</option>
                <option value="62014b62dc6a7b59280b874c">Fandango! - ZZ Top</option>
                <option value="62014c10dc6a7b59280b8752">Degüello - ZZ Top</option>
              </select>
            </div>
            <button class="btn btn-success btn-block" type="submit">
              Actualizar datos 
            </button>
          </form>
        </div>
      </div>
      <div class="card-body">
        <a href="/verCancion/<%= cancion._id %>" class="btn btn-warning">
          Volver
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById('id').focus()
</script>
<%- include ('partials/_footer'); %>