<%- include('partials/_header'); %>
<div class="container">
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover ver">
      <thead class="cabecera">
        <th class="transparente"></th>
        <th>Título del disco</th>
        <th>Intérprete</th>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">
            <img src="<%= disco.caratula %>" alt="" width="300px" height="300px">
          </td>
          <td class="nombre-disco"><%= disco.titulo %></td>
          <td>
            <a href="/interpretes/<%= disco.interprete.id %>">
              <%= disco.interprete.nombre %>
            </a>
          </td>
        </tr>
        <tr>
          <td>Año publicación: <%= disco.anyo %></td>
          <td>
            <a href="/interpretes/<%= disco.interprete.id %>">
              <img class="redondo" src="<%= disco.interprete.caratula %>" alt="" width="100px" height="100px"></td>
            </a>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="card-body texto-blanco"><%= disco.info %></div>
  </div>
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover">
      <thead class="cabecera">
        <tr class="canciones-disco">
          <th></th>
          <th>Canciones del disco</th>
          <th></th>
        </tr>
      </thead>
      <% for(var i=0; i < disco.canciones.length; i++){ %>
        <tr>
          <td>
            <%= i+1 %>
          </td>
        <% if(disco.titulo == "En directo en la sala Clamores" || disco.titulo == "Sin miedo a perder" || disco.titulo == "Una noche sin ti - Disco 1"  || disco.titulo == "Una noche sin ti - Disco 2"  || disco.titulo == "Live in Holland 1990"  || disco.titulo == "Shangri live in Rome" || disco.titulo == "Tubular bells III live in London" || disco.titulo == "Nos va la marcha"){ %>
          <td>
            <strong>
              <audio controls type="audio/mpeg" src="<%= disco.canciones[i].enlace %>">
              </audio></br>
                <%= disco.canciones[i].tit_cancion %>
              <span class="nombre-interprete"> 
                &nbsp; <%= disco.canciones[i].cantante %>
              </span>
            </strong>
          </td>
        <% } else { %>
          <td>
            <strong>
              <a href="<%= disco.canciones[i].enlace %>" target="_blank">
                <%= disco.canciones[i].titulo %>
              </a>
              <span class="nombre-interprete"> 
                &nbsp; <%= disco.canciones[i].cantante %>
              </span>
            </strong>
          </td>
          <% } %>
          <td class="duracion">
            <%= disco.canciones[i].duracion %>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
  <div class="card-body centrar-texto">
    <a href="/discos?page=0" class="btn btn-volver">
      Volver
    </a>
  </div>
  </div>
<%- include('partials/_footer'); %>