<%- include('partials/_header'); %>
<div class="container">
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover ver">
      <tbody>
        <tr>
          <td rowspan="2">
            <img src="<%= interprete.caratula %>" alt="" width="300px" height="300px">
          </td>
          <td class="nombre-cantante">
            <%= interprete.nombre %>
          </td>
          <td><%= interprete.nacionalidad %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="card-body texto-blanco"><%= interprete.info %></div>
  </div>
  <div class="col-md-8 centrar">
    <table class="table table-bordered table-hover">
      <thead class="cabecera">
        <tr class="discos-coleccion">
          <th></th>
          <th>
            <span class="discos">
              Discos en la colección
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <% for(var i=0; i < discos.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td>
            <strong>
              <span class="titulo">
                <%= discos[i].titulo %>
              </span>
            </strong>
          </td>
          <td class="centrar-texto">
            <a href="/discos/<%= discos[i].id %>">
              <img src="<%= discos[i].caratula %>" alt="" width="50px" height="50px">
            </a>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
  <div class="card-body centrar-texto">
    <a href="/interpretes?page=0" class="btn btn-volver">
      Volver
    </a>
  </div>
</div>
<%- include('partials/_footer'); %>